@media screen and (max-width:1024px){
   
    #headerContainer{
        grid-auto-flow: row;
    }
    .content-right{
        z-index: 1;
    }
    .content-left{
        display: none;
    }
    .hamburger{
        display: block;
        right: 30px;
    }
    ul.navmenu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: rgb(6,49,104);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        transition: all 0.5s;
        transform: translateX(100%);
    }
    .nav .active{
        transform: translateX(0);
    }
    ul.navmenu li a{
        color: #fff;
    }

    ul.navmenu li {
        padding: 30px;
    }

    ul.dropdown li{
        padding: 10px;
    }
    .dropdown-container{
        position: relative;
    }

    .dropdown-container:hover .dropdown li a{
        color: #fff;
    }

    .nav ul li.dropdown-container ul{
        position: relative;
    } 

    .header-right ul{
        justify-items: center;
    }
    
    .container{
        padding: 10px 50px;
    }
    #home{
        padding: 0;
        background: none;
    }
    section.para-sports .container{
        padding: 20px 50px;
    }
    .popular-events-card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    section.resource .container{
        padding: 20px 50px;
    }
    section.resource-brands .container{
        padding: 20px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    footer.footer .container{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    section.copyright .container{
        grid-auto-flow: row;
        justify-items: center;
        gap: 50px;
    }
 
}

@media screen and (max-width:540px) {
    .searchbar input{
        width: 100%;
    }
  
    .popular-events-card-container{
        grid-template-columns: 1fr;
    }
    section.resource-brands .container{
        grid-template-columns: 1fr;
    }
    #call-menu{
        display: none;
    }
    .content-right{
        display: none;
    }
    .owl-theme .owl-nav.disabled+.owl-dots{
        bottom: 0;
        display: none;
    }
   
    .owl-stage {
        width: 100%;
    }
    .popular-events-card-container{
        justify-content: center;
    }
    .heart-img img{
        padding: 4px 6px;
    }
    .compare-img img {
        padding: 4px 6px;
    }
    #headerContainer{
        padding: 10px;
    }
    section.para-sports .container {
        padding: 20px;
    }
    .popular-events .container{
        padding: 10px 20px;
    }
    section.resource .container{
        padding: 10px 20px;
    }
    section.resource-brands .container{
        padding: 10px 20px;
    }
    footer.footer .container{
        padding: 20px;
    }

}